[submodule "lib/tree-sitter-css-in-js"]
	path = lib/tree-sitter-css-in-js
	url = https://github.com/orzechowskid/tree-sitter-css-in-js.git
[submodule "lib/tsi.el"]
	path = lib/tsi.el
	url = https://github.com/orzechowskid/tsi.el.git
[submodule "lib/tsx-mode.el"]
	path = lib/tsx-mode.el
	url = https://github.com/orzechowskid/tsx-mode.el.git
